.wp_content {
	
	// Flex Slider
	
	.flexslider {
		height: 470px;
	}
	
	@media screen and (max-width: 939px) {
		.flexslider {
			height: auto;
		}
	}
	
	ul.slides {
		@include clearfix;
		margin: 0;
		li {
			list-style: none;
			padding: 0;
		}
	}
	
	ol.flex-control-nav {
		list-style: none;
		margin: 0;
		li {
			list-style: none;
			padding: 0;
		}
	}
	
	ul.flex-direction-nav {
		color: #FFF;
		margin: -.5em 0 1em 0;
		position: relative;
		height: 50px;
		top: -60px;
				
		li:last-child {
			position: absolute;
			right: 0;
		}
		
		li {
			display: inline-block;
			width: 30px;
			height: 50px;
			background: $dark_purple;
			
			a {
				display: block;
				width: 18px;
				height: 30px;
				position: absolute;
				top: 50%;
				margin-top: -15px;
			}
			
			a.flex-prev {
				background: $dark_purple url('images/slider_arrow_prev.png') 0 0 no-repeat;
				left: 2%;
			}

			a.flex-next {
				width: 24px;
				background: $dark_purple url('images/slider_arrow_next.png') 0 0 no-repeat;
				right: 0;
				padding-right: 2%;
			}
			
		}
	}
	
	h2.flex-caption {
		text-align: center;
		background: $dark_purple;
		padding: .5em 0;
		z-index: 9999;
		position: relative;
	}	
}