.woocommerce #content div.product p.price, .woocommerce #content div.product span.price, .woocommerce div.product p.price, .woocommerce div.product span.price, .woocommerce-page #content div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page div.product span.price, .woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price {
	color: $blue !important;
}

.woocommerce h1.product_title, .woocommerce h1.entry-title {
	font-size: 24px;
}

.woocommerce {
	p {
		margin: 1em 0;
	}
}

// Buttons

div.body_wrapper {

	// Header without Crumbs
	
	h1.archive-content-title {
		margin-top: 1em;
	}

	// Bread Crumb
	
	.woocommerce .woocommerce-breadcrumb, .woocommerce-page .woocommerce-breadcrumb {
		margin: 1em 0;
	}
	
	// Button Overrides
	.woocommerce #content input.button.alt, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce-page #content input.button.alt, .woocommerce-page #respond input#submit.alt, .woocommerce-page a.button.alt, .woocommerce-page button.button.alt, .woocommerce-page input.button.alt, .woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button, .added_to_cart {
			font-size: 16px;
			display: inline-block;
			padding: .35em 1.25em !important;
			border: 1px solid transparent !important;
			@include round-corners(5px);
			@include overlock_heavy;
			text-transform: uppercase;
			text-decoration: none;
			color: $yellow;
			background: $dark_purple;
			@include all-transition;
			text-shadow: none;
			font-weight: 700;
			&:hover {
				color: $yellow;
				background: darken($dark_purple, 8%);
			}
	}
	
	// Added to Cart Button
	a.added_to_cart, input.added_to_cart, button.added_to_cart {
		margin-top: 1em;
		background: $blue;
		color: #FFF;
		padding: 4px 20px !important;
		
		&:hover {
			background: darken($blue, 12%);
			color: #FFF;
		}
	}
	
	// Calculator Button
	a.shipping-calculator-button {
			font-size: 16px;
			display: inline-block;
			padding: .35em 1.25em !important;
			border: 1px solid transparent !important;
			@include round-corners(5px);
			@include overlock_heavy;
			text-transform: uppercase;
			text-decoration: none;
			color: $yellow;
			background: $dark_purple;
			@include all-transition;
			text-shadow: none;
			font-weight: 700;
			&:hover {
				color: $yellow;
				background: darken($dark_purple, 8%);
			}	
	}
	
	// Inputs
	input[type="text"], input[type="email"], textarea {
		display: block;
		background: #FFF;
		border: 1px solid #CCC;
		@include round-corners(5px);
		padding: .5em 1em;
		margin: 0;
		margin-bottom: 1.25em;
		width: 100%;
		color: $dark_purple;
		font-size: 14px;
	}
	
	// Submit Button
	input[type="submit"] {
		@include overlock_heavy;
		border: 1px solid transparent;
		&:hover {
			cursor: pointer;
			background: darken($dark_purple, 10%);
		}
	}
}

.woocommerce {
	padding-bottom: 2em;
	a {
		color: $blue;
		text-decoration: underline;
		&:hover {
			color: darken($blue, 12%);
		}
	}
}

// Pagination

.body_wrapper .woocommerce nav.woocommerce-pagination ul {
	border: none;
}

.body_wrapper .woocommerce nav.woocommerce-pagination ul li {
	border-right: none;
}

.body_wrapper {

	.woocommerce nav.woocommerce-pagination ul li a, .woocommerce nav.woocommerce-pagination ul li span {
		font-size: 22px;
		display: inline-block;
		padding: .5em .75em !important;
		border: 1px solid transparent !important;
		@include round-corners(5px);
		@include overlock_heavy;
		text-transform: uppercase;
		text-decoration: none;
		color: $yellow;
		background: $dark_purple;
		@include all-transition;
		text-shadow: none;
		font-weight: 700;
		@include overlock_heavy;
		margin-right: .35em;
	}

	.woocommerce nav.woocommerce-pagination ul li span.current {
		background: $yellow;
		color: $dark_purple;
	}

	.woocommerce nav.woocommerce-pagination ul li a:hover {
		color: $yellow;
		background: darken($dark_purple, 8%);
	}

}