.button {
	font-size: 16px;
	display: inline-block;
	padding: .35em 1em;
	@include round-corners(5px);
	@include overlock_heavy;
	text-transform: uppercase;
	text-decoration: none;
}

.blue_button {
	color: #FFF;
	background: $blue;
	@include all-transition;
	&:hover {
		background: darken($blue, 12%);
	}
}

.purple_button {
	color: $yellow;
	background: $dark_purple;
	@include all-transition;
	&:hover {
		background: darken($dark_purple, 8%);
	}
}

.yellow_button {
	color: $dark_purple;
	background: $yellow;
	@include all-transition;
	&:hover {
		background: darken($yellow, 12%);
	}
}