/***********************************************************************************/
/* 940 Initial Breakpoint */
/***********************************************************************************/

.mobile_only {
	display: block;
}

img, iframe, video, embed {
	max-width: 100% !important;
}

header.masthead {
	
	.logo {
		
		a {
			background-image: none;
			width: 100%;
			height: auto;
			display: inline;
		}
	}
}

.inside {
	padding-left: 1em;
	padding-right: 1em;
}

header .inside {
	padding-left: 0;
	padding-right: 0;
}

header .social_icons {
	padding-right: 1em;
}

.footer .inside {
	padding-left: 0;
	padding-right: 0;
}

// Twisted Header...

body.twisted header.masthead .logo a {
	background-image: none;
	width: 100%;
	height: auto;
	display: inline;
}

.wp_content {
	img {
		max-width: 100% !important;
		height: auto !important;
	}
}

/***********************************************************************************/
/* iPad Portrait Menu */
/***********************************************************************************/

@media screen and (max-width: 768px) {
	.mainNav {
		display: none;
	}
	
	/* Nav Trigger */

	.trigger_contain {
		text-align: center;
		margin: auto;
		background: $dark_purple;
	}
	
	.navTrigger {
		display: block;
		width: 40px;
		height: 40px;
		margin: auto;
		text-indent: -999em;
		background: url('images/icon_nav-trigger.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -40px;
		}
	}
	
	.triggerActive {
		background-position: 0 -40px;
	}
	
	.mobileNav {
		display: none;
		
		ul {
			
			background: $dark_purple;
		
			li {
				a {
					display: block;
					text-decoration: none;
					background: $dark_purple;
					padding: .65em;
					text-align: center;
					color: $yellow;
					font-size: 20px;
					border-bottom: 1px solid $purple;
					text-transform: uppercase;
					
					&:hover {
						background: $blue;
						color: #FFF;
					}
				}
				ul {
					background: $purple;
					
					li {
						a {
							color: $yellow;
							background: $purple;
							border-color: $dark_purple;
							text-transform: capitalize;
							&:hover {
								
							}
						}
						
						ul {
							display: none;
						}
					}
				}
			}
		}
		
	}

	.see_more {
		position: absolute;
		top: 0;
		right: 10px;
	}
		
}

/***********************************************************************************/
/* iPhone Landscape View - 640px Breakpoint */
/***********************************************************************************/

@media screen and (max-width: 640px) {

	header.masthead .social_icons {
		text-align: center;
		float: none;
	}

	footer {
	
		padding-bottom: 1.5em;
	
		.contact_us {
			background: url('images/bg_contact-waffles-640.png') 0 0 no-repeat;
		}
		
		.recent_post {
			padding-left: 1em;
			padding-right: 1em;
			margin-top: 1em;
		}
		
		.bottom_footer {
			padding-left: 1em;
			padding-right: 1em;
		}
		
		.copyright {
			text-align: center;
		}
		
		.social_icons {
		
			text-align: center;
			
			.fr {
				float: none;
				margin: 0 auto;
			}
		}	
	}
}


/***********************************************************************************/
/* iPhone Portrait */
/***********************************************************************************/

@media screen and (max-width: 320px) {
	.post_body {
		.f_image, .f_copy {
			@include span-columns(12);
			@include omega();
		}
	}
	
	aside {
		padding-top: 0;
	}
}
