/*
H1 = Museo Slab 700 36pt / 38pt (orange)
H2 = Museo Slab 700 24pt (orange)
H3 = Museo Sans Rounded 700 24pt (orange & blue)
P = Museo Sans Rounded 16pt / 20pt (navy & white)

Slider txt = Museo Sans Rounded 18pt / 22pt (white)
*/

body {
	font-size: 16px;
	line-height: 20px;
	color: $dark_purple;
	@include overlock;
}

strong, b {
	font-weight: 700;
}

h1, h2, h3, h4, h5 {
	color: $dark_purple;
	line-height: 1.2em;
	margin-bottom: 16px;

}

h1 {
	font-size: 36px;
	@include cinzel_bold;
	margin-bottom: 16px;
}

h2 {
	font-size: 24px;
	@include cinzel_bold;
	margin-bottom: 16px;
}

h3 {
	font-size: 24px;
	@include overlock_heavy;
}

h4 {
	font-size: 20px;
	@include overlock_bold;
}

h5 {
	font-size: 1em;
}

h6, h7, h8 {
	font-size: .85em;
}

h2.yellow_header {
	color: $yellow;
}
