/*-------------------------------------- Colors ---------------------------------------*/

$dark_purple: #550067;
$purple: #9300b3;
$blue: #00a9d3;
$yellow: #FFD10B;

/*-------------------------------------- Sub Colors ---------------------------------------*/

$nav_link: $yellow;
$nav_hover: $blue;

$link_color: $blue;
