/*-------------------------------------- Import Files ---------------------------------------*/

@import "bourbon";
@import "neat/neat";
@import "grid-settings";
@import "reset";
@import "variables";
@import "mixins";
@import "type";
@import "columns";
@import "local";

/*-------------------------------------- Global Styles ---------------------------------------*/

.mobile_only, .mobileNav {
	display: none;
}

/*-------------------------------------- Structure ---------------------------------------*/

body {
	line-height: 1.2em;
	font: 16px Arial, Verdana, sans-serif;
	color: #333;
}

.body_wrapper {
	background: #FFF;
}

section.inside, div.inside, article.inside {
	@include outer-container();
}

/*-------------------------------------- Header ---------------------------------------*/


header.masthead {
	position: relative;
	@include box-sizing;
	padding-top: .5em;
	background: url('images/bg_header-blue.jpg') center center repeat-x;
	
	.social_icons {
		float: right;
	}
	
	.head_wrap {
		@include clearfix;
		width: 100%;
		background: url('images/bg_header-bar.jpg') center center repeat-x;
	}
	
	.logo {
		@include span-columns(12);
		clear: right;
		padding: .5em 0 0 0;
		
		a {
			text-indent: -999em;
			display: block;
			background: url('images/logo.jpg') 0 0 no-repeat;
			width: 940px;
			height: 250px;
			&:hover {
				background-position: 0 -250px;
			}
		}
	}
}

/*-------------------------------------- Navigation ---------------------------------------*/

.mainNav {
	width: 100%;
			
	ul {
		border: 1px solid blue;
		li {
		
			display: inline-block;
			
			a {
				display: inline-block;
				@include all-transition;
				
				&:hover {
					
				}
			}
		}
	}
}

/*-------------------------------------- Social Media Icons ---------------------------------------*/

.social_icons {
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-indent: -999em;
		margin-left: .2em;
	}
}

header .social_icons {
	a.fb {
		background: url('images/icon_facebook-header.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
	a.twitter {
		background: url('images/icon_twitter-header.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
	a.youtube {
		background: url('images/icon_youtube-header.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
}

/*-------------------------------------- Body Content ---------------------------------------*/

.default_page {
	margin: 2em 0;
	@include clearfix;
	padding: 1em;
}

/*-------------------------------------- WP Editor ---------------------------------------*/


.wp_content {
	padding: 3em 0;
	
	div, p, ol, ul, dl, dd, table {
		line-height: 1.25em;
	}
	
	p {
		margin: 1em 0;
	}
	
	a {
		color: blue;
		text-decoration: underline;
		@include color-transition;
		&:hover {
			color: pink;
		}
	}
	
	ol {
		margin: 1em 0 1em 1.15em;
		li {
			list-style: decimal;
			padding: .25em 0;
		}
	}
		
	ul {
		margin: 1em 0 1em 1.15em;
		li {
			list-style: disc;
			padding: .25em;
		}
	}
		
	p {
		margin: 1em 0;
		line-height: 1.5em;
	}
	
	b, strong {
		font-weight: bold;
	}

	i, em {
		font-style: italic;
	}
	
	blockquote {
		margin: 1em 3em;
		color: #666;
		border-left: 2px solid #666;
		padding-left: 1em;
	}
	
	// Form Elements
	input[type="text"], textarea, input[type="email"] {
		background: #FFF;
		display: block;
		@include round-corners(7px);
		color: #666;
		width: 100%;
		padding: .4em 1em;
		font-size: 16px;
		margin: 0 0 1em 0;
		border: 1px solid #FFF;
	}
	
	#wpcf7-f44-p14-o1 br { display: none; }
	#wpcf7-f44-p14-o1 p {
		margin: .25em 0;
	}
	
	// WP Images
	
	.aligncenter,
	.alignleft,
	.alighnright,
	.alignnone {
	  padding: 3px;
	  z-index: 1;
	}
	.alignleft {
	  float: left;
	  margin: 1.5em 2em 1.5em 0;
	}
	.alignright {
	  float: right;
	  margin: 1.5em 0 1.5em 2em;
	}
	.aligncenter,
	img.centered {
	  display: block;
	  margin: 1.5em auto;
	}
	.wp-caption {
	  text-align: center;
	}
	.wp-caption .wp-caption-text {
	  margin-bottom: 0;
	  font-size: 12px;
	  font-style: italic;
	  line-height: 34px;
	}
	.video-container + p {
	  margin-top: 1.5em;
	}
	.tag-container {
	  border: 1px solid #e4e4e4;
	  border-width: 1px 0;
	  font-style: italic;
	  font-size: 12px;
	  color: #c9c9c9;
	  line-height: 42px;
	  margin-top: 3em;
	}
	.post-navigation {
	  text-align: center;
	  font-size: 12px;
	  line-height: 42px;
	}
	.article-author {
	  background: #fafafa;
	  border-top: 1px solid #d7d7d7;
	  padding: 3em;
	  -webkit-box-shadow: inset 5px 0 0 #ededed, inset -5px -5px 0 #ededed;
	}
	.article-author p {
	  margin-bottom: 0;
	}
	
}


/*-------------------------------------- Footer ---------------------------------------*/

footer {
	clear: left;
	padding: 1em;
	
	.footer_widgets {
		@include clearfix;
	}
	
	.copyright {
		clear: both;
		margin: 2em 0;
	}
}

*[class*="span_"] {
	//border: 1px solid blue;
	//padding: 1em;
}