/*-------------------------------------- Import Files ---------------------------------------*/

@import "bourbon";
@import "neat/neat";
@import "grid-settings";
@import "reset";
@import "variables";
@import "mixins";
@import "type";
@import "columns";
@import "local";

/*-------------------------------------- Global Styles ---------------------------------------*/

.mobile_only, .mobileNav, .navTrigger {
	display: none;
}

/*-------------------------------------- Structure ---------------------------------------*/

body {
	background: #000;
}

.body_wrapper {
	background: #FFF;
}

section.inside, div.inside, article.inside {
	@include outer-container();
}

aside {
	padding: 3em 0;
	
	.sidebar-widget {
		margin-bottom: 1em;
		
		ul {
			margin: 1em 0 1em 1.15em;
			li {
				list-style: disc;
				padding: .25em;
			}
		}
		
		a {
			color: $purple;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
/*-------------------------------------- Header ---------------------------------------*/


header.masthead {
	position: relative;
	@include box-sizing;
	padding-top: .5em;
	background: url('images/bg_header-blue.jpg') center center repeat-x;
	
	.social_icons {
		float: right;
	}
	
	.head_wrap {
		@include clearfix;
		width: 100%;
		background: url('images/bg_header-bar.jpg') center 140px repeat-x;
	}
	
	.logo {
		@include span-columns(12);
		clear: right;
		padding: .5em 0 0 0;
		
		a {
			text-indent: -999em;
			display: block;
			background: url('images/logo.jpg') 0 0 no-repeat;
			width: 940px;
			height: 250px;
			&:hover {
				background-position: 0 -250px;
			}
		}
	}
}

// Twisted Header...

body.twisted {
	
	header.masthead {
	
		background: url('images/bg_multi-color.jpg') center center repeat-x;
		
		.logo a {
			background: url('images/logo_twisted-tails.jpg') 0 0 no-repeat;
		}
	}
	
}

/*-------------------------------------- Navigation ---------------------------------------*/

.mainNav {
	width: 100%;
	background: $dark_purple;
	
	ul {

		li {
		
			display: inline-block;
			position: relative;
			
			a {
				display: inline-block;
				@include all-transition;
				color: $nav_link;
				@include color-transition;
				padding: .75em 1.1em;
				text-decoration: none;
				text-transform: uppercase;
				
				&:hover {
					color: $nav_hover;	
				}
			}
			
			ul {
			
				display: none;
				position: absolute;
				top: 99%;
				left: 0;
				z-index: 999;
				background: $purple;
				width: 200px;
				
				li {
					
					display: block;
					border: none;
					position: relative;
					
					a {
						display: block;
						text-transform: capitalize;
						@include all-transition;
						
						&:hover {
							background: $blue;
							color: #FFF;
						}
					}
					
					ul {
						display: none;
						position: absolute;
						top: 0;
						left: 99%;
					}
				}
				
			}
		}
		
		li.hover_nav > a {
			color: $blue;
		}
	}
}

/*-------------------------------------- Social Media Icons ---------------------------------------*/

.social_icons {
	a {
		display: inline-block;
		width: 30px;
		height: 30px;
		text-indent: -999em;
		margin-left: .2em;
	}
}

header .social_icons {
	a.fb {
		background: url('images/icon_facebook-header.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
	a.twitter {
		background: url('images/icon_twitter-header.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
	a.deviantart {
		background: url('images/icon_deviantart-header.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
}


footer .social_icons {
	a.fb {
		background: url('images/icon_facebook-footer.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
	a.twitter {
		background: url('images/icon_twitter-footer.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
	a.deviantart {
		background: url('images/icon_deviantart-footer.png') 0 0 no-repeat;
		&:hover {
			background-position: 0 -30px;
		}
	}
}

// Twisted Icons

body.twisted {
	header .social_icons, footer .social_icons {
		a.fb {
			background: url('images/icon_facebook-footer.png') 0 -30px no-repeat;
			&:hover {
				background-position: 0 0;
			}
		}
		a.twitter {
			background: url('images/icon_twitter-footer.png') 0 -30px no-repeat;
			&:hover {
				background-position: 0 0;
			}
		}
		a.deviantart {
			background: url('images/icon_deviantart-footer.png') 0 -30px no-repeat;
			&:hover {
				background-position: 0 0;
			}
		}
	}
}
/*-------------------------------------- Body Content ---------------------------------------*/

.default_page {
	@include clearfix;
}

/*-------------------------------------- Feature ---------------------------------------*/

div.feature {
	background: url('images/bg_feature-blue.jpg') center center repeat;
}

// Twisted

body.twisted {
	
	div.feature {
		background: url('images/bg_feature-purple.jpg') center center repeat;
	}
	
}

/*-------------------------------------- WP Editor ---------------------------------------*/


.wp_content {
	padding: 3em 0;
	@include clearfix;
	
	div, p, ol, ul, dl, dd, table {
		line-height: 1.25em;
	}
	
	p {
		margin: 1em 0;
	}
	
	a {
		color: $link_color;
		text-decoration: underline;
		@include color-transition;
		@include overlock_bold;
		&:hover {
			color: $link_color;
			text-decoration: none;
		}
	}
	
	ol {
		margin: 1em 0 1em 1.15em;
		li {
			list-style: decimal;
			padding: .25em 0;
		}
	}
		
	ul {
		margin: 1em 0 1em 1.15em;
		li {
			list-style: disc;
			padding: .25em;
		}
	}
		
	p {
		margin: 1em 0;
		line-height: 1.5em;
	}
	
	b, strong {
		font-weight: bold;
	}

	i, em {
		font-style: italic;
	}
	
	blockquote {
		margin: 1em 3em;
		border-left: 2px solid $dark_purple;
		padding-left: 1em;
		font-style: italic;
	}
	
	hr {
		height: 2px;
		border: none;
		background: $dark_purple;
		margin: 1.25em 0;
	}
	
	// Form Elements
	input[type="text"], textarea, input[type="email"] {
		background: #FFF;
		display: block;
		@include round-corners(7px);
		color: #666;
		width: 100%;
		padding: .4em 1em;
		font-size: 16px;
		margin: 0 0 1em 0;
		border: 1px solid #FFF;
	}
	
	#wpcf7-f44-p14-o1 br { display: none; }
	#wpcf7-f44-p14-o1 p {
		margin: .25em 0;
	}
	
	// WP Images
	
	.aligncenter,
	.alignleft,
	.alighnright,
	.alignnone {
	  padding: 3px;
	  z-index: 1;
	}
	.alignleft {
	  float: left;
	  margin: 0 2em .5em 0;
	}
	.alignright {
	  float: right;
	  margin: 0 0 1.5em .5em;
	}
	.aligncenter,
	img.centered {
	  display: block;
	  margin: 0 auto;
	}
	.wp-caption {
	  text-align: center;
	}
	.wp-caption .wp-caption-text {
	  margin-bottom: 0;
	  font-size: 12px;
	  font-style: italic;
	  line-height: 34px;
	}
	.video-container + p {
	  margin-top: 1.5em;
	}
	.tag-container {
	  border: 1px solid #e4e4e4;
	  border-width: 1px 0;
	  font-style: italic;
	  font-size: 12px;
	  color: #c9c9c9;
	  line-height: 42px;
	  margin-top: 3em;
	}
	.post-navigation {
	  text-align: center;
	  font-size: 12px;
	  line-height: 42px;
	}
	.article-author {
	  background: #fafafa;
	  border-top: 1px solid #d7d7d7;
	  padding: 3em;
	  -webkit-box-shadow: inset 5px 0 0 #ededed, inset -5px -5px 0 #ededed;
	}
	.article-author p {
	  margin-bottom: 0;
	}
	
}

/*-------------------------------------- Blog List ---------------------------------------*/

article#wp_content_1 {
	h1 {
		font-size: 24px;
	}
	
	a.post_title {
		text-decoration: none;
		color: $dark_purple;
		&:hover {
			text-decoration: underline;
		}
	}
}

/*-------------------------------------- Footer ---------------------------------------*/

footer {
	clear: left;
	@include overlock;
	background: #000 url('images/bg_footer.jpg') center 0 repeat-x;
	
	.contact_us {
		background: url('images/bg_contact-waffles.png') 0 0 no-repeat;
	}
	.contact_form {
		padding: 1em;
		@include clearfix;
		margin-left: 158px;
		input[type="submit"] {
			float: right;
		}
	}
	
	.recent_post {
		padding: 1em 0 1em 0;
		color: #FFF;
	
		h2 > a {
			color: $yellow;
			text-decoration: none;
			
			&:hover {
				text-decoration: underline;
			}
		}
		
		.more_button {
			margin: 1.5em 0;
			float: right;
		}
		
		.read_more {
			display: none;
		}
	}
	
	.footer_widgets {
		@include clearfix;
	}
	
	.bottom_footer {
		margin: 3em 0;
	}
	
	.copyright {
		clear: both;
		margin: .5em 0 1.5em 0;
		font-size: 11px;
		color: $purple;
		
		a {
			color: $purple;
			text-decoration: none;
			&:hover {
				color: darken($purple, 10%);
			}
		}
	}
}

// Twisted

body.twisted footer {
	
	.contact_us {
		background: transparent;
		
		h2 {
			color: $yellow;
		}
	}
	.contact_form {
		padding: 1em;
		@include clearfix;
		margin-left: 0;
		input[type="submit"] {
			float: none;
			background: $yellow;
			color: $dark_purple;
			@include all-transition;
			
			&:hover {
				background: darken($yellow, 12%);
			}
		}
	}

}

*[class*="span_"] {
	//border: 1px solid blue;
	//padding: 1em;
}


/*-------------------------------------- Extra Files ---------------------------------------*/
@import "pages/home";
@import "forms";
@import "buttons";
@import "posts";
@import "pages/woo";

/*-------------------------------------- Small Screens ---------------------------------------*/

@media screen and (max-width: 940px) {
	@import "small-screens";
}